ul,
li {
  list-style-type: none;
}

.sortable-list .item {
  padding: 10px 0;
  border-top: 2px solid transparent;
}

.sortable-list .item * {
  /* 마우스이벤트(버블링)이 생기지 않도록 */
  pointer-events: none;
}

.sortable-list .item.dragstart {
  opacity: 0.5;
}

.sortable-list .item.dragover {
  border-top-color: green;
}
